/* Color customization */
:root {
  --primary: #1f6feb;
  --active: #ff7b72;
  --dark: #0d1117;
  --lightDark: #21262c;
  --gray: #8B949E;
  --light: #c9d1d9;
  --bg: var(--dark);
  --fg: var(--light);
  --navColor: var(--lightDark);

  --darkBlue: rgb(20 38 66);
  --link:#58a6ff;
  --repo: #3572a5;
  --codeColor: #3fb950;
  --codeBg: #444444;

  --base-font-size: 12px;
  --fluid-typography-ratio: 0.7;
  --rem: calc(var(--base-font-size) + var(--fluid-typography-ratio) * 1vw);

  --small: 0.5rem;
  --p: 0.9rem;
  --h6: 0.9rem;
  --h5: 0.9rem;
  --h4: 1rem;
  --h3: 1.1rem;
  --h2: 1.2rem;
  --h1: 1.6rem;

  --bold: 700;
  --normal: 400;

  font-size: var(--p);
  font-weight: var(--normal);
}

:root {
  --main-width: calc(100vw - 3em);
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

html {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  --font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

body {
  margin: 0;
  font-size: var(--p);
  font-family: var(--font-family);
  background: var(--bg);
  color: var(--fg);
  transition: all 0.3s;
  line-height: 1.5;
}
body {
  --fg: var(--light);
  --bg: var(--dark);
  --navColor: var(--lightDark);
  --p: 0.9rem;
}

input[type="text"] {
  background: var(--bg);
  width: 20%;
  height: 28px;
  border: 1px solid #30363d;
  color: var(--fg);
  box-shadow: inset 0px 1px 2px rgba(27, 31, 35, 0.075);
  border-radius: 6px;
  outline: none;
  padding: 2px 10px;
}

input[type="text"]:focus {
  border-color: var(--primary);
  transition: width 200ms;
  width: 50%;
  max-width: 50%;
}
input[type="text"]:focus:placeholder-shown {
  opacity: 0.7;
}
::placeholder {
  color: #c9d1d9;
  opacity: 1;
}

@media (max-width: 768px) {
  input[type="text"] {
    width: 80%;
  }
  input[type="text"]:focus {
    width: 80%;
    max-width: 80%;
  }
}
h1 {
  margin: 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--navColor);
}
main {
  display: flex;
  padding: 1rem 10rem;
  gap: 2rem;
  align-items: flex-start;
  justify-content: center;
}

ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  cursor: pointer;
  border: 1px solid var(--navColor);
  margin: 0;
  padding: 0;
  border-radius: 6px;
  font-size: 14px;
  min-width: 28%;
}
li {
  padding: 0;
  display: block;
  border-bottom: 1px solid var(--navColor);
}
img {
  border-radius: 50%;
}

.card {
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-bottom: 1px solid var(--navColor);
}
.title {
  text-decoration: none;
  color: var(--link);
  font-size: var(--h1);
  font-weight: var(--normal);
}

.title:hover {
  text-decoration: underline;
}
.title:active {
  text-decoration: underline;
}